

/* 电动汽车充电桩一体化平台 */
@font-face {
  font-family: "yh";
  src: url("../fontFamily/yh.eot");
  src: url("../fontFamily/yh.woff") format("woff"),
    url("../fontFamily/yh.ttf") format("truetype"),
    url("../fontFamily/yh.svg") format("svg");
}

.login i.el-input__icon.el-icon-user-solid {
  color: #1ce7e2;
  font-size: 20px;
}

.login .iconfont.icon-zu {
  color: #1ce7e2;
  font-size: 20px;
}

.login .el-input__inner {
  background-color: #00010b;
  height: 42px;
  border: 1px solid #2fe8ff;
  color: #11E6DE;
  font-size: 16PX;
}

.login .dologin {
  width: 200px;
  display: block;
  margin: 0 auto;
  /* background: url(../images/lbtnb.png); */
}

.mybtn.el-button {
  width: 100%;
  background: url(../images/btnbc.png);
  border: none;
  /* background: url(../images/lbtnb.png) no-repeat 100% 100%, -webkit-linear-gradient(top, #3c7a9e, #3c7a9e, #0a5a83, #0a5a83); */
  background-size: 100% 100%;
  border-radius: 0;
  color: #85e8f6;
}

.mybtn.el-button--primary:focus,
.el-button--primary:hover {
  background: url(../images/btnbcactive.png);
  background-size: 100% 100%;
}

.mybtn.el-button:hover {
  background: url(../images/btnbcactive.png);
  background-size: 100% 100%;
}

.login .el-form-item__label::before {
  display: none;
}

.modelPage {
  height: calc(100vh - 60px);
  background: url("../images/bg2.png");
  display: flex;
  justify-content: space-between;
}

.modelPage .routerCon {
  width: 90px;
  flex-shrink: 0;
  height: 100%;
  background-image: url(../images/routerAll.png);
  background-size: 100% 100%;
}

.modelPage .container {
  width: 100%;
  flex-shrink: 1;
  height: 100%;
  padding: 20px;
}

.modelPage .routerCon li div {
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

body .el-date-table td.disabled div {
  background: transparent;
  color: #5a5a5a;
}

.modelPage .routerCon li .active {

  background-image: url(../images//routerOnly.png);
  background-size: 100% 100%;
}

.modelPage .routerCon li i {
  font-size: 18px;
  color: #ccc;
}

.modelPage .routerCon li p {
  font-size: 14px;
  color: #ccc;
}

.modelPage .routerCon li .active i,
.modelPage .routerCon li .active p {
  color: #68f9d9;
}

.navigation ul li div.active span {
  height: 100%;
  color: #68f9d9;
}

.navigation ul li div.active {
  background: url(../images/activeNav.png) no-repeat -10px 15px;
  background-size: 100% 100%;
}

.homeContainer .navigation {
  height: 60px;
  flex-shrink: 0;
  width: 100%;
  background: #011329 url(../images/nav.png);
  background-size: 100% 100%;
}

.stationTable {
  padding-bottom: 20px;
}

.content_s {
  height: 100%;
  background-image: url(../images/content.png);
  background-size: 100% 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.content_s .stationTable {
  height: 100%;
  max-height: 570px;
}

.content_s>div:not(.fullScreenShow),
.content_s>h2 {
  width: 100%;
}

.content_s .title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #40fef1;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 50px;
}

.yhform .el-input__inner {
  border: 1px solid #005e80;
  background: #00051d !important;
  color: #8fa1ab;
  border-radius: 0;
}

.yhform .el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #0290c4;
  outline: 0;
  color: #40fef1;
}

body .el-picker-panel {
  background: #00020e;
  border: 1px solid#066689;
  color: #90a4ae
}

body .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #00020e;
}

body .el-select-dropdown__empty {
  background: #00020e;
  border: 1px solid#066689;
  color: #90a4ae
}

body .el-select-dropdown__list {
  background: #00020e;
}

body .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: #00020e;
}

body .el-select-dropdown {
  border: 1px solid#066689;
}

.yhTable.el-table {
  background: transparent;
}

.yhTable.el-table thead.is-group th {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  text-align: center;
}

.yhTable.el-table th.is-leaf {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  text-align: center;
}

.yhTable.el-table--border,
.yhTable.el-table--group {
  border: none;
}

.yhTable.el-table th,
.yhTable.el-table tr {
  background-color: transparent;
}

.yhTable.el-table .el-table__body tr:hover>td {
  background: transparent;
  border: none;
}

.yhTable.el-table td {
  border: none;
  text-align: center;

}

.yhTable.el-table::before,
.yhTable.el-table::after {
  background-color: transparent;
}

.yhTable.el-table tr td>div {
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 0;
  height: 35px;
  line-height: 19px;
  color: #85e8f6;
  font-size: 13px;
}

.yhTable.el-table td {
  padding: 10px 0 0;
}

[_c] {
  cursor: pointer;
}

.pageblock {
  text-align: right;
  padding: 0 20px;
}

.pageblock .el-pagination button,
.pageblock .el-pagination span:not([class*=suffix]) {
  color: #85e8f6;
}

.pageblock .el-pagination.is-background .btn-next,
.pageblock .el-pagination.is-background .btn-prev,
.pageblock .el-pagination.is-background .el-pager li,
.pageblock .el-input__inner {
  background-color: #002c3a;
  color: #85e8f6;
}

.pageblock .el-input__inner {
  border: none;
}

.showModel {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 85px;
  margin-bottom: 20px;
}

.showModel>div {
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.showModel>div>div:first-child {
  flex-shrink: 0;
  padding: 0 10px;
  margin-right: 10px;
}

.showModel>div i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  text-align: center;
  background: #005e80;
  font-size: 22px;
}

.showModel>div:nth-child(1) i {
  background: #1260bb;
}

.showModel>div:nth-child(1) p {
  color: #2c60fa;
}

.showModel>div:nth-child(2) i {
  background: #102165;
}

.showModel>div:nth-child(2) p {
  color: #516bf6;
}

.showModel>div:nth-child(3) i {
  background: #02b9d0;
}

.showModel>div:nth-child(3) p {
  color: #02b9d0;
}

.showModel>div:nth-child(4) i {
  background: #378b4b;
}

.showModel>div:nth-child(4) p {
  color: #378b4b;
}

.showModel>div:nth-child(5) i {
  background: #d1a122;
}

.showModel>div:nth-child(5) p {
  color: #d1a122;
}

.showModel>div:nth-child(6) i {
  background: #ff5523;
}

.showModel>div:nth-child(6) p {
  color: #ff5523;
}

.showModel>div p {
  font-size: 24px;
  color: #eee;
}

.showModel>div span {
  font-size: 14px;
  color: #bbb;
}

.thirRouter {
  margin-bottom: 15px;
}

.thirRouter span {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #aaa;
  margin-right: 15px;
  cursor: pointer;
}

.thirRouter span.active {
  border: 1px solid #85e8f6;
  color: #85e8f6;
}

.chartCon {
  height: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.chartCon>div {
  width: 33%;
  padding: 10px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.fullScreenShow {
  position: absolute;
  top: 80px;
  left: 110px;
  bottom: 20px;
  right: 20px;
}

::-webkit-scrollbar {

  width: 10px;

  height: 10px;

  background-color: #000730;

}

.newInput {
  padding-left: 179px;
}

.timeListCon {
  height: 400px;
  overflow: auto;
}

.showHistoryBtn {
  font-size: 20px;
  color: #00b0ff;
  cursor: pointer;
}

.xfBtn {
  font-size: 24px;
  color: #00e878;
  cursor: pointer;
}

.editBtn {
  font-size: 24px;
  color: #74E8FF;
  cursor: pointer;
}

.deleteBtn {
  font-size: 24px;
  color: #E84C15;
  cursor: pointer;
}

.alertWin {
  position: relative;
}

.alertWinback {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 30px;
  color: #85e8f6;
  cursor: pointer;
}

.rightCloseBtn .alertWinback {
  left: auto;
  right: 20px;
}

.alertWinShow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*定义滚动条轨道内阴影+圆角*/

::-webkit-scrollbar-track {

  box-shadow: inset000pxrgba(240, 240, 240, .5);

  border-radius: 10px;

  background-color: rgba(240, 240, 240, .5);

}

/*定义滑块内阴影+圆角*/

::-webkit-scrollbar-thumb {

  border-radius: 10px;

  box-shadow: inset000pxrgba(240, 240, 240, .5);

  background-color: rgba(240, 240, 240, .5);

}

.basePriLabel {
  font-size: 14px;
  color: #999;
  height: 25px;
  line-height: 25px;
}

body .time-select-item:hover {
  background-color: #42454a;
}

.comzgf {
  height: 42px;
  line-height: 42px !important;
  padding: 0 20px;
  border-radius: 21px;
  color: #fff;
  background: linear-gradient(to bottom, #005173, #041e76);
  color: #85e8f6;
  cursor: pointer;
}

.comzgf::before {
  font-size: 22px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.piePrice_s {
  display: flex;
  justify-content: space-between;
}

.piePrice_s>div:nth-child(1) {
  width: 25%;
  background: rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.piePrice_s>div:nth-child(2) {
  width: 100%;
  padding-left: 20px;
}

.piePrice_s .el-tree {
  background: transparent;
}

.piePrice_s .el-tree-node__content:hover {
  background: rgba(0, 0, 0, 0.2)
}

.piePrice_s .el-tree-node:focus>.el-tree-node__content {
  background: transparent;
}

.piePrice_s .el-checkbox__inner {
  background-color: transparent;
  border: 1px solid #85e8f6;
}

.piePrice_s .el-tree-node__label {
  color: #85e8f6;
}

.pieTree {
  color: #85e8f6;
  font-size: 14px;
  padding: 15px 15px 0;
}

.formTitle {
  color: #85e8f6;
  font-size: 15px;
  height: 24px;
  line-height: 18px;
}

.piePrice_s .el-form-item {
  margin-bottom: 10px;
}

.piePrice_s .el-input__inner {
  width: 193px;
}

.homesearch {
  position: absolute;
  left: 460px;
  top: 0;
  height: 60px;
  line-height: 60px;
  border: none !important;
}

.homesearch input {
  background: none;
  outline: none;
  border: none;
}

body .amap-info-content {
  background: url(../images/msgalert.png);
  background-size: 100% 100%;
}

.alstatusnum {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.alstatusnum li {
  width: 49%;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  text-align: center;

}

.alstatusnum li span {
  font-size: 18px;
  color: #03c974;
}

.alstatusnum li:nth-child(2) span {
  color: #2fe0f5;
}

.alstatusnum li:nth-child(3) span {
  color: #f6a338;
}

.alstatusnum li:nth-child(4) span {
  color: #cad2f4;
}

.alstatusnum li p {
  font-size: 14px;
  color: #999;
}

.homeContent .amap-info-sharp {
  display: none;
}

.amap-info-close {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 20px;
  color: aqua;
}

.editForm.el-form--inline .el-form-item__label {
  display: block;
  text-align: left;
}

.editForm .el-form-item:not(.endBtn),
.editForm.el-form--inline .el-form-item__label+.el-form-item__content,
.editForm .el-select {
  width: 100%;
}

.editForm .el-form-item:not(.endBtn) {
  margin-bottom: 0;
}

.powerCon_s .el-tree {
  background-color: transparent;
}

.powerCon_s .el-tree-node__content:hover {
  background: rgba(0, 0, 0, 0.3);
}

.powerCon_s .el-tree-node:focus>.el-tree-node__content {
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

.powerCon_s .el-tree-node__label {
  color: aqua;
}

.powerCon_s .el-checkbox__inner {
  border: 1px solid aqua;
  background: transparent;
}

.arrowBtn {
  position: absolute;
  top: 50%;
  right: 15px;
}


.menuList.active .tac {
  opacity: 0;

}

body .menuList.active {
  left: -230px;
}

.menuList .tac {
  opacity: 1;
  transition: all .5s;
}

.menuList {
  position: relative;
  left: 0;
  transition: all .5s;
}

.menuList.active .arrowBtn {
  transform: rotate(180deg);
  right: -30px;
}

.menuList .arrowBtn {
  cursor: pointer;
  transform: rotate(0);
  transition: all .5s;
}

/* .menuList .arrowBtn:hover {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    top: 50%;
  }

  20% {
    top: calc(50% - 20px);
  }

  40% {
    top: 50%;
  }

  60% {
    top: calc(50% - 30px);
  }

  80% {
    top: calc(50% - 10px);
  }

  100% {
    top: 50%;
  }
} */

/* ********************************************* */
.homeContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.homeContainer .homeRight {
  width: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.navigation {
  display: flex;
  justify-content: space-between;
}

/*logo*/
.homeLogo {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  flex-shrink: 0;
  background: #F7F7F8;
}

.homeContainer .homeContent {
  height: 100%;
}

.navigation .homeSearch {
  padding: 10px;
  width: 250px;
  color: #ffffff;
  flex-shrink: 0;
}

.navigation .homeSearch b {
  height: 100%;
  display: inline-block;
  width: 0;
  border: 2px solid #ccc;
  vertical-align: middle;
  margin-left: 10px;
}

.homeSearch .searchBtn {
  font-size: 20px;
}

.navigation .homeSearch input {
  width: 80%;
  height: 100%;
  color: #fff;
  outline: none;
  border: none;
  background-color: transparent;
}

.navigation .homeSearch input::placeholder {
  color: #ccc;
}

.homeProName {
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  color: #00e5ff;
  font-size: 28px;
  flex-shrink: 0;
}

.homeProName b {
  display: inline-block;
  line-height: 50px;
}

.navigation ul {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: space-around;
  margin-left: 12%;
}

.navigation ul li {
  width: 160px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}




.navigation ul li div span {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  color: #ccc;
}

.navigation ul li div i {
  display: inline-block;
  margin-left: 20px;
  background: url(../images/i.png) no-repeat 0 10px;
  vertical-align: middle;
  width: 20px;
  height: 60px;
  background-size: 20px 40px;
}

/* .navigation ul li div.active span {
  color: #fff;
} */

.navigation ul li div span.icon {
  font-size: 16px;
}

.homeTime {
  width: 300px;
  line-height: 50px;
  text-align: center;
  flex-shrink: 0;
}

.userMsg {
  width: 300px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.userMsg .username {
  color: #a4c9ce;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}

.userMsg img {
  height: 100%;
}

.logout {
  color: #eee;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 20px;
}

.mapMenuControl .homeLogo {
  height: 50px;
  line-height: 50px;
  text-align: center;
  flex-shrink: 0;
}

.mapMenuControl .mapMuneBtn {
  height: 100%;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.mapMuneBtn .arrow {
  cursor: pointer;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #333;
  border-bottom: 10px solid transparent;
}

.mapMuneBtn .arrow.menuActve {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #333;
  border-bottom: 10px solid transparent;
}

.mapMenuControl {
  width: 60px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
}

.menuList .el-menu {
  border-right: none;
}

.mapUseEleMsg {
  position: absolute;
  top: 30px;
  left: 280px;
  right: 230px;
  z-index: 12;
}

.mapUseEleMsg ul {
  display: flex;
  justify-content: space-between;
}

.mapUseEleMsg ul li {
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  width: 250px;
  box-shadow: 5px 5px 10px #ccc;
}

.mapUseEleMsg ul li p {
  margin-bottom: 10px;
}

.mapUseEleMsg ul li p b {
  font-size: 28px;
}

.mapUseEleMsg ul li p span {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}

.mapUseEleMsg ul li:nth-child(1) {
  background-image: linear-gradient(#327ad2, #5aa3fb);
}

.mapUseEleMsg ul li:nth-child(2) {
  background-image: linear-gradient(#40b9e2, #5ecdf4);
}

.mapUseEleMsg ul li:nth-child(3) {
  background-image: linear-gradient(#10c0b6, #2bd7d5);
}

.mapUseEleMsg ul li:nth-child(4) {
  background-image: linear-gradient(#0abf69, #26d688);
}

.mapUseEleMsg ul li:nth-child(5) {
  background-image: linear-gradient(#745dfc, #93acfa);
}

.iconStatus {
  position: absolute;
  top: 150px;
  right: 20px;
  z-index: 12;
  background: url(../images/statusnum.png);
  background-size: 100% 100%;
  padding: 30px 20px;
}

.iconStatus li {
  cursor: pointer;
  width: 90px;
  border-radius: 10px;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.iconStatus li img {
  width: 100%;
}

.iconStatus li p {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.iconStatus li p .amap-info-close {
  display: none;
}

.iconStatus li p span {
  color: aqua;
  vertical-align: middle;

}

.iconStatus li p span:last-child {
  font-size: 26px;
  display: inline-block;
  margin-left: 5px;
}

.alstyle .showModel>div {
  padding: 5px;
  margin-right: 0;
  width: 260px;

}

.alstyle .showModel {
  height: auto;
}

.alstyle .showModel>div i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  text-align: center;
  background: #fe5623;
  font-size: 16px;
}

.alstyle .showModel>div p {
  color: #fe5623;
  font-size: 16px;
}

.alstyle h2 {
  font-size: 14px;
  color: #85e8f6;
  background: url(../images/bot.png) no-repeat 0px 21px;
  padding: 0 0 30px 50px;
}

.alstyle ul li {
  margin-top: 5px;
}


.alstyle .c1 {
  color: #0fd564;
}

.alstyle .c2 {
  color: #5b7dfe;
}

.alstyle .c3 {
  color: #d433e3;
}

.alstyle .c4 {
  color: #a693d6;
}

.alstyle .c5 {
  color: #95b630;
}

.alertWindow {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.yctList .container {
  border-radius: 10px;
  overflow: hidden;
}

.listHead {
  text-align: center;
  padding: 20px;
  background: #fff;
}

.listHead span {
  display: inline-block;
  font-weight: 700;
  color: #333;
}

.listHead i {
  font-size: 24px;
  color: #999;
  cursor: pointer;
}

.yctList .container {
  border-radius: 10px;
  overflow: hidden;
}

.alcon {
  padding: 0 20px 20px;
  background-color: #fff;
}

.stationData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.stationData .stationProgress {
  width: 55%;
}

.stationData .stationNum {
  width: 45%;
  padding-left: 20px;
}

.stationData .stationProgress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradientCon {
  background-image: linear-gradient(#4c88ea, #58b9fd);
  border-radius: 10px;
  padding: 10px;
  flex-shrink: 0;
  position: relative;
}

.fh_s {
  padding: 10px 0;
}

.fh_s>b {
  display: inline-block;
  text-align: center;
  width: 70px;
}

.fh_s span {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  color: #fff;
  font-size: 16px;
}

.fh_s span b {
  font-size: 14px;
  font-weight: 400;
}

.eledirection {
  border-top: 1px solid #4c88ea;
  width: 100%;
  flex-shrink: 1;
  position: relative;
}

.eledirection .cenarrow {
  position: absolute;
  left: 50%;
  top: -9px;
  margin-left: -9px;
}

.gradientCon div:nth-child(2).fh_s,
.gradientCon div:nth-child(3).fh_s {
  margin-bottom: 15px;
}

.outTop {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.outBottom {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.cfd {
  bottom: -45px;
  color: #0abf69;
}

.cft {
  top: -35px;
  font-size: 12px;
}

.outTop span {
  font-size: 16px;
  color: #52a3f4;
  display: inline-block;
  margin-right: 5px;
}

.residuele span {
  font-size: 13px;
  color: #666;
}

.residuele span:last-child {
  color: #4bc96d;
}

.stationNum {
  display: flex;
  justify-content: space-between;
}

.stationNum>div {
  width: 48%;
  border: 1px dashed #e9ecf0;
  background: #fafafb;
  padding: 10px;
  border-radius: 5px;
}

.stationBtn>div>div span {
  border: 1px solid #cdcdcd;
  color: #999;
}

.stationConstrol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stationBtn {
  width: 140px;
  padding-left: 10px;
  font-size: 0;
  /* border: 1px solid #333; */
}

.stationBtn>div>span {
  display: inline-block;
  padding: 8px 5px;
  border-top: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  font-size: 14px;
  background-image: linear-gradient(#ffffff, #ebebec);
  cursor: pointer;
}

.stationBtn>div>span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #bfbfbf;
}

.stationBtn>div>span:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dcbtn.active:nth-child(1) {
  background-image: linear-gradient(#11d59c, #24f5b0);
}

.dcbtn.active:nth-child(3) {
  background-image: linear-gradient(#d432e3, #de7ef3);
}

.dcbtn.active:nth-child(2) {
  background-image: linear-gradient(#567afe, #31d6e6);
}

.ktbtn.active:nth-child(1) {
  background-image: linear-gradient(#a794d7, #b7a8e1);
}

.ktbtn.active:nth-child(2) {
  background-image: linear-gradient(#97b731, #c1d85b);
}

.stationTopL ul {
  padding: 10px 0;
}

.stationTopL ul li {
  padding: 10px 0;
}

.stationTopL span {
  font-size: 14px;
  color: #666;
}

.stationTopL.dcmsg ul li b {
  display: inline-block;
  color: #4c8aeb;
  margin-right: 10px;
  font-size: 20px;
}

.stationTopL.dcmsg ul li b+span {
  font-size: 12px;
  color: #999;
}

.stationTopL.ktmsg ul li b {
  display: inline-block;
  color: #f08e53;
  margin-right: 10px;
  font-size: 20px;
}

.stationTopL ul li b+span {
  font-size: 12px;
  color: #999;
}

.strategy_s>div:first-child {
  font-size: 14px;
}

.strategy_s>div:first-child b {
  color: #4eb4ee;
  font-weight: 400;
  float: right;
}

.strategy_s>div:last-child {
  font-size: 0;
  padding: 10px 0;
}

.strategy_s>div:last-child span {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #666;
}

.screenConrainer {
  background-image: url(../img/screen/BG.jpg);
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.screenTitle {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  flex-shrink: 0;
}

.screenCon {
  height: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}

.screenCon>div {
  padding: 20px;
  height: 100%;
}

.screenCon>div:nth-child(1),
.screenCon>div:nth-child(3) {
  width: 500px;
  flex-shrink: 0;
}

.screenCon>div:nth-child(2) {
  width: 100%;
  flex-shrink: 1;
}

.screenConrainer .sreenLeft {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
}

.sreenLeft>div {
  display: flex;
  flex-wrap: wrap;
}

.enerynum {
  flex-shrink: 0;

}

.eccon {
  flex-shrink: 1;
}

.modelTitle {
  font-size: 24px;
  color: #f1fbf8;
  margin-bottom: 20px;
  width: 100%;
}

.enerynum>div {
  display: inline-block;
  width: 49%;
}

.enerynum>div span {
  font-size: 14px;
  color: #b0bec5;
}

.fw>div p i {
  font-family: timeFont;
  font-size: 40px;
  display: inline-block;
  margin-right: 10px;
}

.fw>div:nth-child(2) p i {
  color: #00e676;
}

.fw>div:nth-child(3) p i {
  color: #fd8c0d;
}

.enerynum>div.thisYearJZ span {
  font-family: Strong;
  font-size: 40px;
  color: #00e676;
}

.enerynum>div.thisYearJZ p {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.enerynum>div.zjrl img {
  vertical-align: middle;
}

.enerynum>div.zjrl p span {
  font-family: Strong;
  font-size: 40px;
  color: #21eab6;
  vertical-align: middle;
  margin-left: 10px;
}

.enerynum>div.zjrl p span:last-child {
  font-size: 14px;
  vertical-align: bottom;
}

.enerynum>div.zjrl>span {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.screenMap {
  position: relative;
}

.msgnum {
  position: absolute;
  top: 0;
  left: 0;
}

.msgnum p {
  -webkit-line-clamp: 2;
  background-image: -webkit-linear-gradient(top, #9aecfd, #3b86f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.msgnum p span {
  font-family: Medium;
  font-size: 34px;
}

.msgnum p i {
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  margin-left: 10px;
}

.mapshow {
  position: absolute;
  left: 50px;
  bottom: 0px;
  width: 120%;
  left: -150px;
}

.mapshow img {
  width: 100%;
  max-height: 90%;
}

.mapicon {
  position: absolute;

}

.mapBtn {
  position: absolute;
  bottom: 50px;
  right: 0;
}

.mapBtn>div {
  font-size: 16px;
  color: #fefefe;
}

.mapBtn ul li {
  padding: 7px 0;
}

.mapBtn ul li span {
  display: inline-block;
  color: #b0bec5;
  width: 60px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 13px;
  background: #04081c;
  font-size: 14px;
  cursor: pointer;
}

.mapBtn ul li span.active {
  background-image: linear-gradient(to left, #0883f8, #11bcfe);
  color: #fff;
}

.mapModel {
  margin-top: 50px;
}

.mapModel>div {
  background-image: url('../../assets/img/bg1.png');
  background-size: 100% 100%;
  margin-top: 10px;
  padding: 4px;
  display: block;
  width: 75px;
  height: 40px;
  line-height: 32px;
  text-align: center;

}

.mapModel>div span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #040e2e;
  border: 1px solid #2f62bb;
  cursor: pointer;
}

.mapModel>div span.active {
  background-image: linear-gradient(to top, #04a2dd, #24d7f4);
  color: #000a11;
}

.msgWindow {
  position: absolute;
  background: rgba(7, 13, 72, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 20;
}

.artical {
  border: 15px solid transparent;
  border-bottom: 15px solid rgba(7, 13, 72, 0.7);
  position: absolute;
  top: -30px;
  left: 40px
}

.mapshow .mapicon {
  z-index: 20;
}

.msgWindow h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.msgWindow li div span:nth-child(3) {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}

.msgWindow.h li {
  margin-top: 10px;
}

.msgWindow li div span:nth-child(1) {
  display: inline-block;
  width: 100px;
}

.msgWindow.y h3,
.msgWindow.h h3,
.msgWindow.h li div span:nth-child(2),
.msgWindow.h li div span:nth-child(3) {
  color: #ffb300;
}


.msgWindow.c h3,
.msgWindow.c li div span:nth-child(2),
.msgWindow.c li div span:nth-child(3) {
  color: #00c255;
}

.chhdNum {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chhdNum>div.third {
  width: 32%;
}

.chhdNum>div.half {
  width: 49%;
}

.chhdNum>div {
  background-image: url('../../assets/img/bg1.png');
  background-size: 100% 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.chhdNum p {
  margin-bottom: 10px;
}

.chhdNum p span {
  font-size: 14px;
  color: #fff;
}

.chhdNum p i {
  font-size: 12px;
  color: #00b0ff;
  display: inline-block;
  margin-left: 5px;
  font-style: normal;
  vertical-align: bottom;

}

.chhdNum>div>span {
  font-family: Strong;
  font-size: 26px;
  color: #00b0ff;
  font-weight: 400;
}

.sreenRight>div:nth-child(2) {
  height: calc(100% - 233px);
}

.lineCon>div {
  height: 33%;
  overflow: hidden;
}

.el-message-box__header {
  background: #ff9f19;
}

div.yeallowAlert {
  border: none;
}

.yeallowAlert .el-message-box__title::before {
  font-family: element-icons !important;
  content: "\E7A3";
  color: #fff;
  font-size: 24px;
  vertical-align: middle;
}

.yeallowAlert .el-message-box__header {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

.yeallowAlert .el-message-box__title span {
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 16px;
}

.yeallowAlert ul li {
  margin-bottom: 10px;
}

.yeallowAlert ul li span {
  color: #999;
}

.yeallowAlert h3 {
  font-size: 16px;
  color: #ff9f19;
  margin-top: 10px;
}

.hySelect {
  width: 100px;
  flex-shrink: 0;
  padding-top: 10px;
}


.hySelect .el-input__icon {
  line-height: 30px;
}

.hySelect .el-input__inner {
  height: 30px;
}

.hySelect .el-input__icon::before {
  content: "\e790";
  color: #fff;
}

.hySelect .el-input__inner {
  background: #0c88be;
  color: #fff;
  border-radius: 15px;
  border: none;
}

.controlPass {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
}

.yeallowAlert.el-message-box {
  width: 300px;
}

.yeallowAlert .passCon {
  position: relative;
}

.yeallowAlert .passCon.errorMs::before {
  content: '密码错误!';
  color: #ff3232;
  float: right;
  position: absolute;
  top: -20px;
  right: 10px;
}

.login .iconmima {
  font-size: 20px;
  color: #1ce7e2;
}

.mainContent{
  height: 100vh;
  background: #333;
}