/* 电动汽车充电桩一体化平台 */
@font-face {
  font-family: "yh";
  src: url("../fontFamily/yh.eot");
  src: url("../fontFamily/yh.woff") format("woff"),
    url("../fontFamily/yh.ttf") format("truetype"),
    url("../fontFamily/yh.svg") format("svg");
}

.login i.el-input__icon.el-icon-user-solid {
  color: #1ce7e2;
  font-size: 20px;
}

.login .iconfont.icon-zu {
  color: #1ce7e2;
  font-size: 20px;
}

.login .el-input__inner {
  background-color: #00010b;
  height: 42px;
  border: 1px solid #2fe8ff;
  color: #11E6DE;
  font-size: 16PX;
}

.login .dologin {
  width: 200px;
  display: block;
  margin: 0 auto;
  /* background: url(../images/lbtnb.png); */
}

.mybtn.el-button {
  width: 100%;
  background: url(../images/btnbc.png);
  border: none;
  /* background: url(../images/lbtnb.png) no-repeat 100% 100%, -webkit-linear-gradient(top, #3c7a9e, #3c7a9e, #0a5a83, #0a5a83); */
  background-size: 100% 100%;
  border-radius: 0;
  color: #85e8f6;
}

.mybtn.el-button--primary:focus,
.el-button--primary:hover {
  background: url(../images/btnbcactive.png);
  background-size: 100% 100%;
}

.mybtn.el-button:hover {
  background: url(../images/btnbcactive.png);
  background-size: 100% 100%;
}

.login .el-form-item__label::before {
  display: none;
}

.modelPage {
  height: calc(100vh - 60px);
  background: url("../images/bg2.png");
  display: flex;
  justify-content: space-between;
}

.modelPage .routerCon {
  width: 90px;
  flex-shrink: 0;
  height: 100%;
  background-image: url(../images/routerAll.png);
  background-size: 100% 100%;
}

.modelPage .container {
  width: 100%;
  flex-shrink: 1;
  height: 100%;
  padding: 20px;
}

.modelPage .routerCon li div {
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

body .el-date-table td.disabled div {
  background: transparent;
  color: #5a5a5a;
}

.modelPage .routerCon li .active {

  background-image: url(../images//routerOnly.png);
  background-size: 100% 100%;
}

.modelPage .routerCon li i {
  font-size: 18px;
  color: #ccc;
}

.modelPage .routerCon li p {
  font-size: 14px;
  color: #ccc;
}

.modelPage .routerCon li .active i,
.modelPage .routerCon li .active p {
  color: #68f9d9;
}

.navigation ul li div.active span {
  height: 100%;
  color: #68f9d9;
}

.navigation ul li div.active {
  background: url(../images/activeNav.png) no-repeat -10px 15px;
  background-size: 100% 100%;
}

.homeContainer .navigation {
  height: 60px;
  flex-shrink: 0;
  width: 100%;
  background: #011329 url(../images/nav.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
}

.homeProName {
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  color: #00e5ff;
  font-size: 28px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.navigation ul li {
  padding: 0 30px;
  display: inline-block;
  height: 60px;
}

.navigation ul li a span {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  color: #ccc;
}

.stationTable {
  padding-bottom: 20px;
}

.content_s {
  height: 100%;
  background-image: url(../images/content.png);
  background-size: 100% 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.content_s .stationTable {
  height: 100%;
  max-height: 570px;
}

.content_s>div:not(.fullScreenShow),
.content_s>h2 {
  width: 100%;
}

.content_s .title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #40fef1;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 50px;
}

.yhform .el-input__inner {
  border: 1px solid #005e80;
  background: #00051d !important;
  color: #8fa1ab;
  border-radius: 0;
}

.yhform .el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #0290c4;
  outline: 0;
  color: #40fef1;
}

body .el-picker-panel {
  background: #00020e;
  border: 1px solid#066689;
  color: #90a4ae
}

body .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #00020e;
}

body .el-select-dropdown__empty {
  background: #00020e;
  border: 1px solid#066689;
  color: #90a4ae
}

body .el-select-dropdown__list {
  background: #00020e;
}

body .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: #00020e;
}

body .el-select-dropdown {
  border: 1px solid#066689;
}

.yhTable.el-table {
  background: transparent;
}

.yhTable.el-table thead.is-group th {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  text-align: center;
}

.yhTable.el-table th.is-leaf {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  text-align: center;
}

.yhTable.el-table--border,
.yhTable.el-table--group {
  border: none;
}

.yhTable.el-table th,
.yhTable.el-table tr {
  background-color: transparent;
}

.yhTable.el-table .el-table__body tr:hover>td {
  background: transparent;
  border: none;
}

.yhTable.el-table td {
  border: none;
  text-align: center;

}

.yhTable.el-table::before,
.yhTable.el-table::after {
  background-color: transparent;
}

.yhTable.el-table tr td>div {
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 0;
  height: 35px;
  line-height: 19px;
  color: #85e8f6;
  font-size: 13px;
}

.yhTable.el-table td {
  padding: 10px 0 0;
}

[_c] {
  cursor: pointer;
}

.pageblock {
  text-align: right;
  padding: 0 20px;
}

.pageblock .el-pagination button,
.pageblock .el-pagination span:not([class*=suffix]) {
  color: #85e8f6;
}

.pageblock .el-pagination.is-background .btn-next,
.pageblock .el-pagination.is-background .btn-prev,
.pageblock .el-pagination.is-background .el-pager li,
.pageblock .el-input__inner {
  background-color: #002c3a;
  color: #85e8f6;
}

.pageblock .el-input__inner {
  border: none;
}

.showModel {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 85px;
  margin-bottom: 20px;
}

.showModel>div {
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.showModel>div>div:first-child {
  flex-shrink: 0;
  padding: 0 10px;
  margin-right: 10px;
}

.showModel>div i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  text-align: center;
  background: #005e80;
  font-size: 22px;
}

.showModel>div:nth-child(1) i {
  background: #1260bb;
}

.showModel>div:nth-child(1) p {
  color: #2c60fa;
}

.showModel>div:nth-child(2) i {
  background: #102165;
}

.showModel>div:nth-child(2) p {
  color: #516bf6;
}

.showModel>div:nth-child(3) i {
  background: #02b9d0;
}

.showModel>div:nth-child(3) p {
  color: #02b9d0;
}

.showModel>div:nth-child(4) i {
  background: #378b4b;
}

.showModel>div:nth-child(4) p {
  color: #378b4b;
}

.showModel>div:nth-child(5) i {
  background: #d1a122;
}

.showModel>div:nth-child(5) p {
  color: #d1a122;
}

.showModel>div:nth-child(6) i {
  background: #ff5523;
}

.showModel>div:nth-child(6) p {
  color: #ff5523;
}

.showModel>div p {
  font-size: 24px;
  color: #eee;
}

.showModel>div span {
  font-size: 14px;
  color: #bbb;
}

.thirRouter {
  margin-bottom: 15px;
}

.thirRouter span {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #aaa;
  margin-right: 15px;
  cursor: pointer;
}

.thirRouter span.active {
  border: 1px solid #85e8f6;
  color: #85e8f6;
}

.chartCon {
  height: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.chartCon>div {
  width: 33%;
  padding: 10px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.fullScreenShow {
  position: absolute;
  top: 80px;
  left: 110px;
  bottom: 20px;
  right: 20px;
}

::-webkit-scrollbar {

  width: 10px;

  height: 10px;

  background-color: #000730;

}

.newInput {
  padding-left: 179px;
}

.timeListCon {
  height: 400px;
  overflow: auto;
}

.showHistoryBtn {
  font-size: 20px;
  color: #00b0ff;
  cursor: pointer;
}

.xfBtn {
  font-size: 24px;
  color: #00e878;
  cursor: pointer;
}

.editBtn {
  font-size: 24px;
  color: #74E8FF;
  cursor: pointer;
}

.deleteBtn {
  font-size: 24px;
  color: #E84C15;
  cursor: pointer;
}

.alertWin {
  position: relative;
}

.alertWinback {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 30px;
  color: #85e8f6;
  cursor: pointer;
}

.rightCloseBtn .alertWinback {
  left: auto;
  right: 20px;
}

.alertWinShow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*定义滚动条轨道内阴影+圆角*/

::-webkit-scrollbar-track {

  box-shadow: inset000pxrgba(240, 240, 240, .5);

  border-radius: 10px;

  background-color: rgba(240, 240, 240, .5);

}

/*定义滑块内阴影+圆角*/

::-webkit-scrollbar-thumb {

  border-radius: 10px;

  box-shadow: inset000pxrgba(240, 240, 240, .5);

  background-color: rgba(240, 240, 240, .5);

}

.basePriLabel {
  font-size: 14px;
  color: #999;
  height: 25px;
  line-height: 25px;
}

body .time-select-item:hover {
  background-color: #42454a;
}

.comzgf {
  height: 42px;
  line-height: 42px !important;
  padding: 0 20px;
  border-radius: 21px;
  color: #fff;
  background: linear-gradient(to bottom, #005173, #041e76);
  color: #85e8f6;
  cursor: pointer;
}

.comzgf::before {
  font-size: 22px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.piePrice_s {
  display: flex;
  justify-content: space-between;
}

.piePrice_s>div:nth-child(1) {
  width: 25%;
  background: rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.piePrice_s>div:nth-child(2) {
  width: 100%;
  padding-left: 20px;
}

.piePrice_s .el-tree {
  background: transparent;
}

.piePrice_s .el-tree-node__content:hover {
  background: rgba(0, 0, 0, 0.2)
}

.piePrice_s .el-tree-node:focus>.el-tree-node__content {
  background: transparent;
}

.piePrice_s .el-checkbox__inner {
  background-color: transparent;
  border: 1px solid #85e8f6;
}

.piePrice_s .el-tree-node__label {
  color: #85e8f6;
}

.pieTree {
  color: #85e8f6;
  font-size: 14px;
  padding: 15px 15px 0;
}

.formTitle {
  color: #85e8f6;
  font-size: 15px;
  height: 24px;
  line-height: 18px;
}

.piePrice_s .el-form-item {
  margin-bottom: 10px;
}

.piePrice_s .el-input__inner {
  width: 193px;
}

.homesearch {
  position: absolute;
  left: 460px;
  top: 0;
  height: 60px;
  line-height: 60px;
  border: none !important;
}

.homesearch input {
  background: none;
  outline: none;
  border: none;
}

body .amap-info-content {
  background: url(../images/msgalert.png);
  background-size: 100% 100%;
}

.alstatusnum {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.alstatusnum li {
  width: 49%;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  text-align: center;

}

.alstatusnum li span {
  font-size: 18px;
  color: #03c974;
}

.alstatusnum li:nth-child(2) span {
  color: #2fe0f5;
}

.alstatusnum li:nth-child(3) span {
  color: #f6a338;
}

.alstatusnum li:nth-child(4) span {
  color: #cad2f4;
}

.alstatusnum li p {
  font-size: 14px;
  color: #999;
}

.homeContent .amap-info-sharp {
  display: none;
}

.amap-info-close {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 20px;
  color: aqua;
}

.editForm.el-form--inline .el-form-item__label {
  display: block;
  text-align: left;
}

.editForm .el-form-item:not(.endBtn),
.editForm.el-form--inline .el-form-item__label+.el-form-item__content,
.editForm .el-select {
  width: 100%;
}

.editForm .el-form-item:not(.endBtn) {
  margin-bottom: 0;
}

.powerCon_s .el-tree {
  background-color: transparent;
}

.powerCon_s .el-tree-node__content:hover {
  background: rgba(0, 0, 0, 0.3);
}

.powerCon_s .el-tree-node:focus>.el-tree-node__content {
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

.powerCon_s .el-tree-node__label {
  color: aqua;
}

.powerCon_s .el-checkbox__inner {
  border: 1px solid aqua;
  background: transparent;
}

.arrowBtn {
  position: absolute;
  top: 50%;
  right: 15px;
}


.menuList.active .tac {
  opacity: 0;

}

body .menuList.active {
  left: -230px;
}

.menuList .tac {
  opacity: 1;
  transition: all .5s;
}

.menuList {
  position: relative;
  left: 0;
  transition: all .5s;
}

.menuList.active .arrowBtn {
  transform: rotate(180deg);
  right: -30px;
}

.menuList .arrowBtn {
  cursor: pointer;
  transform: rotate(0);
  transition: all .5s;
}

/* .menuList .arrowBtn:hover {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    top: 50%;
  }

  20% {
    top: calc(50% - 20px);
  }

  40% {
    top: 50%;
  }

  60% {
    top: calc(50% - 30px);
  }

  80% {
    top: calc(50% - 10px);
  }

  100% {
    top: 50%;
  }
} */

/* ********************************************* */
.navigation {
  display: inline-block;
  justify-content: space-between;
}

.navigation ul li div i {
  display: inline-block;
  margin-left: 20px;
  background: url(../images/i.png) no-repeat 0 10px;
  vertical-align: middle;
  width: 20px;
  height: 60px;
  background-size: 20px 40px;
}

.userMsg {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 20px;
}

.mainContent {
  height: calc(100vh - 60px);
  background: url("../images/bg2.png");
  display: flex;
  justify-content: space-between;
}

body .ant-input,
body .ant-select {
  background: transparent;
  border-color: aqua;
  color: aqua;
}

body .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background: transparent;
  border-color: aqua;
  color: aqua;
}

body .ant-select-dropdown {
  background: transparent;
  color: #ccc;
  border: 1px solid #ccc;
}

body .ant-select-item-option-content {
  color: #ccc;
}

body .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(255, 255, 255, 0.2);
}

.tableShow {
  padding-top: 20px;
}

.yhTable .ant-table {
  background: transparent;
}

.yhTable .ant-table-cell {
  background: rgba(0, 0, 0, 0.3);
  ;
  color: #ccc;
}

.yhTable .ant-table-thead>tr>th {
  border-bottom: none;
}

.yhTable .ant-table-tbody>tr.ant-table-row:hover>td {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 0 0;
  background-clip: content-box;
}

.yhTable .ant-table-tbody>tr>td {
  border: none;
}

.yhTable .ant-table-cell {
  margin-top: 20px;
}

.yhTable .ant-table-tbody>tr>td {
  padding: 10px 0 0;
  background-clip: content-box;
  height: 50px;
}

body .ant-pagination-prev .ant-pagination-item-link,
body .ant-pagination-next .ant-pagination-item-link {
  background-color: rgba(130, 96, 96, 0.5);
  border: none;
  color: #ccc;
}

body .ant-pagination-item-active {
  background-color: rgba(130, 96, 96, 0.5);
  border: none;
  color: #ccc;
}